   /**********
       GENERAL
     ***********/

      /***************
	MOBILE - MODE
      *****************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 1em/1.5 'calibri';
	padding-bottom: 50px;
}

h1 {
	text-align: center;
	margin: 20px 0;
}

.toDoList {
	width: 80%;
	margin: 0 auto;
}

.first button {
	padding: 10px;
}

.first button, [type="checkbox"] {
	cursor: pointer;
}

ul {
	margin: 0 auto;
	list-style: none;
}

ul > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

label, .first button {
	font-size: 1.5em;
}

[type="text"] {
	width:80%;
	height: 40px;
	padding: 0 5px;
	font-size: 1.05em;
	border-radius: 4px;
}

.actions > button {
	padding: 5px;
	border-radius: 3px;
	font-size: 1.05em;
	cursor: pointer;
}

.actions > button, .first button {
	border: none;	
}

.first button, [type="text"], label {
	margin: 5px 0;
}

.actions {
	margin: 0;
}

.actions > button {
	display: block;
	width: 150px;
	margin: 5px auto;
	border: 2px solid;
	transition: color .5s;
}

[type="text"] {
	text-align: center;
}


/******************
    PSUEDO-CLASSES
  ********************/

	
.actions > button:focus {
	color: white;
	outline: none;
}

.actions > .save:focus {
	background-color: rgb(101, 161, 204);
}

.actions > .delete:focus {
	background-color: rgb(242, 136, 136);
}

.actions > .edit:focus {
	background-color: rgb(72, 78, 82);
}

.first button:hover {
	color: rgb(101, 161, 204);
	outline: none;
}

.done::after {
	content: 'Done';
	padding-left: 20px;
	font-size: .9em;
	font-weight:bold;
}


/********************************
    MEDIA-QUERRY --> ABOVE 750PX
  *********************************/


@media screen and (min-width: 750px) {
	
	ul > li {
		flex-direction: row;
	}

	.first button {
		margin-left: 19px;
		font-weight:bold;
		padding: 0;
		font-size: 1.1em;
	}

	[type='checkbox'] {
		vertical-align: middle;
	}

	[type="text"] {
		margin-left: 10px;
		width:50%;
		text-align: left;
	}

	label, [type="text"]  {
		margin-left: 10px;
	}

	label {
		font-size: 1.3em;
	}

	.actions {
		margin-left: auto; 
	}
	
	.actions > button {
		display: inline-block;
		width: 60px;
		border: none;
		transition: none;
	}

	.actions > .save {
		margin: 0 10px;
	}
	

	/******************
	    PSUEDO-CLASSES
	  *******************/
	  

	.actions > .button:hover, .actions > .button:focus {
		background-color: transparent;
	}

	.actions > .edit:hover, .actions > .edit:focus {
		color: rgb(102, 108, 102);
	}

	.actions > .save:hover, .actions > .save:focus {
		color: rgb(101, 161, 204);
	}

	.actions > .delete:hover, .actions > .delete:focus {
		color: rgb(242, 136, 136);
	}
	
}


/******************
       COLORS
  *******************/

body {	
	background-color: rgb(237, 239, 240);
}

.first {
	border-top: 50px solid rgb(90, 103, 114);
}

ul {
	background-color: white;
}

ul > li {
	border-bottom: 1px solid black;
}

label, .actions > .edit, [type="text"] {
	color: rgb(72, 78, 82);
}

[type="text"] {
	border: 2px solid rgb(71, 119, 149);
}

.actions > button, .first button {
	background-color: transparent;
}

.actions > .save, .first button  {
	color: rgb(71, 119, 149);
}

.actions > .delete {
	color: rgb(237, 90, 90);
}

.done::after {
	color: rgba(71, 119, 149,.7);
}
