<!DOCTYPE html>
<html>
	<head>
		<title>To Do List || Alon Tsabari</title>
		<link rel="stylesheet" type="text/css" href="css/style2.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body ng-app="toDoList">
		<div class="wrapper">
			<h1>My TODOs!</h1>

			<div class="toDoList" ng-controller="mainCtrl">
				
				<ul class="first">
					<li>
						<button ng-click="addTask()">Add a new Task +</button><input type="text" placeholder = "Add a new Task" ng-model="todo.name">
					</li>
				</ul>

				<ul>
					<li ng-repeat="todo in todos">
						<input ng-click="done = !done" type="checkbox">
						<label ng-hide="editing" ng-class="{'done': done}">{{todo.name}}</label>
						<input ng-show="editing" ng-model="todo.name" ng-blur="editing = false;" type="text">
						
						<div class="actions">
							<button class="button edit" ng-click="editing = true;">Edit</button>
							<button class="button save" ng-click="saveTodo(todo)">Save</button>
							<button class="button delete" ng-click="deleteTodo(todo,$index)">Delete</button>
						</div>
					</li>
				</ul>
			</div>
				
		</div>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	</body>
</html>
